__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.env
*.log
Log.log
.DS_Store
dist/
build/
*.pdf
.pytest_cache/
.coverage
htmlcov/
*.egg-info/


